<style>
    body {
        background-image:url("https://cgx3j41r03fwkmmdtoy3l6aq-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/burger.jpg");
        background-size: cover;
  background-position: center;
  background-attachment: fixed;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>

<h1 class="center-align white-text">EAT-DA BURGER</h1>
<div class="container">
 <div class="row burger">
    <div class="col s6">
      <div class="card z-depth-5 medium red darken-4">
        <div class="card-content white-text">
          <span class="card-title">Burgers To Eat</span>
          <div class="NotEaten"></div>
      <ul>
        {{#each burger}}
            <div class="row">
            {{#unless devoured}}
            <li>
             {{id}}   
             {{burger_name}}
             <button class="btn waves-effect waves-light black right" data-id="{{id}}">
		        Devour It
	        </button>
            </li>
            {{/unless}}
            </div>
        {{/each}}
        </ul>
          
        </div>
        
      </div>
    </div>
    <div class="col s6">
      <div class="card z-depth-5 medium black">
        <div class="card-content white-text">
          <span class="card-title">Burgers Devoured</span>
          <div class="Eaten"></div>
          
      <ul>
        {{#each burger}}
            {{#if devoured}}
            <li>
             {{id}}   
             {{burger_name}}
            
             
            </li> 
            {{/if}}
        {{/each}}
        </ul>
          
        </div>
        
      </div>
    </div>
  </div>
<div class="row center-align">
    <div class="row">
        
      <form class="col s12">
        <div class="row center card ">
            
          <div class="input-field col s12 ">
            <input id="input_text" type="text" data-length="30">
                <label for="input_text">Enter burger to eat then press Submit</label>
                <button class="btn waves-effect waves-light black" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
         
        </div>
        </div>
        </div>

    </div>
      
    </div>
</div>
